@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bon Voyage";
  src: url("../public/fonts/Bon\ Foyage.otf");
}

@font-face {
  font-family: "BOSQUE";
  src: url("../public/fonts/BOSQUE.otf");
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.barcode {
  font-family: "Libre Barcode 39",'cursive' ;
}

.landing-title{
  font-size: 10rem;
  font-family: 'Bon Voyage', sans-serif;

}

.landing-subtitle{
  font-size: 4rem;
}

.banner {
  background-image: url("./resources/img/banner-img.png");
  height: 800px !important;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}


.featured-banner {
  height: 600px !important;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.collection-banner {
  height: 900px !important;
  object-fit: cover;
  object-position: center center;
}

.imgDetail{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: fit;
}

.table-bid{
  height: fit-content !important;
  max-height: 40vh !important;
}

.img-cover{
  width: inherit !important;
  height: inherit !important;
}

.clamp{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .card:hover .lot-name:after {
  border-radius: 0,5rem ;
} */
